*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    height: 100vh;
    background-color: rgb(1, 1, 15);
    color: white;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 100%;
    padding-bottom: 80px;
}
.sidebar .nav{ 
    border-radius: 1rem;
    padding: 0.5rem 0.75;
    color: white;
    padding: 0.5rem;
    background-color: rgba(238, 231, 231, 0.103);
}
.options{
    line-height: 2.5rem;
    padding: 0.5rem 0.5rem;
    opacity: 0.7;
    
}
.options:hover{
    opacity: 1;
}
.nav .options i{
    font-size: 1.25rem;
}
.nav .options a{
    padding-left: 15px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}
.library{
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(238, 231, 231, 0.103);
}
.opt{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
}
.lib-options img{
    height:1.25rem;
    width:1.25rem;
}
.lib-options a{
    padding-left: 15px;
    color: white;
    text-decoration: none;
}
.icons{
    display: flex;
    flex-direction: row;
}
.icons i{
    height:1.25rem;
    width:1.25rem;
    padding: 0.3rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}
.lib-box{
    height: 10rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 1.75rem 0 0.75rem 0;
    padding: 1rem 1.75rem;
}
.box-1{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
}
.box-2{
    font-size: 0.85rem;
    opacity: 0.7;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.black_badge{
    background-color: #212122;
    color: white;
}
.maincontainer{
    background-color: black;
    flex: 1;
    height: 100%;
    padding-bottom: 80px;
    margin: 0;
}

.stickey-nav{
    position: sticky;
    top: 0;
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    
}
.stickey-nav1 img{
    height:1.75rem;
    width:1.75rem;
    padding-right: 2px;
}
.stickey-nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
}
.space{
    margin-right: 0.75rem;
}

.card{
    background-color: rgba(238, 231, 231, 0.103);
    width: 10rem;
    border-radius: 0.5rem;
    margin: 10px;
    padding: 1rem;
    font-size: 1rem;
}
.space1{
    padding-top: 1rem;
}
.cardcontainer{
    display: flex;
}
.cards h2{
    margin: 10px;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.musicplayer{
    margin: 0;
    background-color: rgb(1, 10, 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}.controls{
    width: 25%;
}
.player-control-icon{
    height: 1.2rem;
    width: 1.2rem;
    margin-left: 1.8rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
    transform: scale(1.1);
}
.player-control{
     display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.progress-bar{
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
}